/* index.css 
   author: peterm
   created: 2023-01-06
    ___  _  _  ___   ___ __  __
   |_ _|| \| ||   \ | __|\ \/ /
    | | | .` || |) || _|  >  < 
   |___||_|\_||___/ |___|/_/\_\
                               
*/

/* colour scheme :
#fefae0
#bc6c25
#dda15e
#606c38
#283618
*/

body {
	font-family: sans-serif;
	font-size: 1rem;
	min-height:100vh;
	color:#283618;
	display:flex;
	flex-direction:column;
}

.hidden {
	display: none;
}	

.right {
	float: right;
}

.subtitle {
	font-size: 0.75em;
	font-weight:400;
}

#content {
	padding-bottom:25vh;
}

.container {
	width: 80%;
	max-width: 140rem;
	margin:0 auto;
}

h1, h2, h3 {
	font-family:monospace;
	margin-bottom: 1rem;
	margin-top:0;
}

h1+.subtitle, h2+.subtitle, h3+.subtitle {
	font-size: 1rem;
	margin-top: -1rem;
}

h1 {
	color:#bc6c25;
	font-size: 2rem;
	padding-top: 1em;
}

h2 {
	font-size:1.5rem;
	color:#dda15e;
}

h3 {
	font-size:1.125rem;
}


section {
	margin-left:1rem;
}

footer { 
	font-family: monospace;
	text-align: center;
	line-height:0.5;
	margin-top: auto;
}

img {
	max-width: 100%;
	width: 40rem;
}

/* HEADER ------------------*/
/*
#fefae0
#bc6c25
#dda15e
#606c38
#283618
*/
header {
	margin: 0 auto;
	width: 100%;
	font-family:monospace;
}

#title {
	color:#bc6c25;
	padding: 0.25rem;
	margin: 0;
	font-weight: bold;
}

nav {
	background-color:#bc6c25;
	padding: 0.25rem 0;
	border-bottom:0.25rem solid #606c38;
}

nav a {
	padding: 0.25rem 0.5rem;
	color: #fefae0;
	text-decoration:none;
}

nav a:hover {
	background-color: #dda15e;
}
/* HEADER ------------------*/


/* FLEXBOX -----------------*/

/* FLEXBOX -----------------*/
