/* index.css 
   author: peterm
   created: 2023-01-06
    ___  _  _  ___   ___ __  __
   |_ _|| \| ||   \ | __|\ \/ /
    | | | .` || |) || _|  >  < 
   |___||_|\_||___/ |___|/_/\_\
                               
*/


/* colour scheme :
#fefae0
#bc6c25
#dda15e
#606c38
#283618
*/

body {
	font-family: sans-serif, Helvetica Neue, Helvetica, Arial;
	font-size: 1rem;
	line-height: 1.55;
	font-weight: 400;
	min-height:100vh;
	color:#283618;
	display:flex;
	flex-direction:column;
}

.hidden {
	display: none;
}	

.right {
	float: right;
}

#content {
	padding-bottom:1rem;
}

.container {
	width: 80%;
	max-width: 140rem;
	margin:0 auto;
}

.inline {
	padding: 0;
	margin: 0;
	display: inline-block;
}


@media only screen and (max-width:860px) {
	.container {
		width: 100%;
	}

}

.subtitle {
	line-height: 1;
	font-size: 0.875em;
	font-weight: 300;
	display : block;
	padding-bottom: .55em;
	color: #606c38;
}


a {
	font-weight: 600;
	color: #bc6c25;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

h1, h2, h3 {
	margin: 0;
	line-height: 1.05;
	padding-top: 2em;
	padding-bottom: 1em;
	font-weight: 300;
	font-family: Courier New, FreeMono, monospace;
}

h1 {
	color: #bc6c25;
	font-size: 2.5em;
	border-bottom: 2px solid #dda15e;
	padding-bottom: 0;
}

h2 {
	font-size:2em;
}

h3 {
	font-size:1.125rem;
}

ul {
	padding-left:0;
	list-style: none;
}


section {
	margin:0.25rem;
	padding-bottom:5rem;
	border-bottom: 2px solid #dda15e;
	position: relative;
}

.end { 
	position: absolute;
	bottom:0px;
	right:0px;
}
	
img {
	max-width: 100%;
	width: 40rem;
}

/*
#fefae0
#bc6c25
#dda15e
#606c38
#283618
*/
header {
	margin: 0 auto;
	width: 100%;
	font-family: Courier New, FreeMono, monospace;
}

#title {
	background-color: #fefae0;
	color:#bc6c25;
	padding: 0.25rem;
	margin: 0;
	font-weight: bold;
	line-height: 1.05;

}

nav {
	background-color:#bc6c25;
	padding: 0 0;
	height: 2em;
	line-height: 2.0;
}

nav a {
	font-weight: 400;
	display: inline-block;
	height: 2em;
	padding: 0 0.5em;
	color: #fefae0;
	text-decoration:none;
}

nav a:hover {
	background-color: #dda15e;
	text-decoration:none;
}

nav a.active {
	text-decoration:underline;
}


footer { 
	font-family: Courier New, FreeMono, monospace;
	text-align: center;
	line-height:0.5;
	margin-top: auto;
	font-size: 0.875em;
}

